/* .contact__container {
  padding-bottom: 4rem;
}

.contact__button {
  justify-self: center;
}

.contact__page {
  padding-block: 1rem 4rem;
}

.contact__form {
  position: relative;
}

.contact__box {
  position: relative;
  width: 100%;
  height: 58px; */
/* background-color: red; */
/* }

.contact__input {
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  border: 3px solid var(--text-color-light);
  padding: 0.5rem 1.5rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: border-color .4s, background-color .4s;
}

.contact__input:focus {
  border-color: var(--title-color);
}

.contact__input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact__label {
  position: absolute;
  top: -16px;
  left: 16px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  background-color: var(--body-color);
  padding: 8px;
  transition: background-color .4s;
}

.contact__area {
  height: 10rem;
}

.contact__area textarea {
  resize: none;
  padding-top: 1.25rem;
}

.contact__send {
  padding-block: 1.25rem;
  cursor: pointer;
}

.contact__message {
  position: absolute;
  bottom: -2rem;
  left: 0;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
} */

/* break */
.contact__container {
  padding-bottom: 4rem;
}

.contact__button {
  justify-self: center;
}

.contact__page {
  padding-block: 1rem 4rem;
}

.contact__form {
  position: relative;
}

.contact__box {
  position: relative;
  width: 100%;
  height: 58px;
  /* background-color: red; */
}

.contact__input {
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  border: 3px solid var(--text-color-light);
  padding: 0.5rem 1.5rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: border-color .4s, background-color .4s;
}

.contact__input:focus {
  border-color: var(--title-color);
}

.contact__input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact__label {
  position: absolute;
  top: -16px;
  left: 16px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  background-color: var(--body-color);
  padding: 8px;
  transition: background-color .4s;
}

.contact__area {
  height: 10rem;
}

.contact__area textarea {
  resize: none;
  padding-top: 1.25rem;
}

.contact__send {
  padding-block: 1.25rem;
  cursor: pointer;
}

.contact__message {
  position: absolute;
  bottom: -2rem;
  left: 0;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

@media screen and (max-width:320px) {
  .container {
    margin-inline: 1rem;
  }
}

@media screen and (min-width:768px) {
  .contact__page {
    grid-template-columns: 670px;
    justify-content: center;
  }

  .contact__area {
    height: 18rem;
  }

  .contact__message {
    bottom: 5rem;
  }

  .contact__send {
    justify-self: center;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width:1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .section__title {
    margin-bottom: 3.5rem;
  }
}