/* break */
.services__container {
  row-gap: 2rem;
}

.services__card {
  background-color: var(--container-color);
  padding: 3.5rem 1.5rem;
  box-shadow: 0 12px 24px var(--shadow-color);
  transition: background-color .4s;
  text-align: center;
  transition: background-color .4s;
}

.services__icon {
  display: inline-block;
  font-size: 3rem;
  color: var(--first-color);
  margin-bottom: 1.5rem;
}

.services__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.services__description {
  margin-bottom: 3rem;
}

.services__button {
  cursor: pointer;
}



@media screen and (max-width:320px) {
  .container {
    margin-inline: 1rem;
  }


}

@media screen and (min-width:576px) {
  .services__container {
    grid-template-columns: 320px;
    justify-content: center;
  }

  .services__modal-content {
    width: 400px;
  }
}

@media screen and (min-width:768px) {
  .services__container {
    grid-template-columns: repeat(2, 320px);
  }
}

@media screen and (min-width:1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .section__title {
    margin-bottom: 3.5rem;
  }

  .service__container {
    width: 100%;
    grid-template-columns: repeat(3, 345px);
  }

  .services__card {
    padding-block: 4.5rem;
  }


}