.testimonial__container{
  position: relative;
}
.testimonial__swiper{
  padding-bottom: 2rem;
}
.testimonial__card{
  background-color: var(--container-color);
  padding: 2rem 1.25rem 2.5rem 1.25rem;
  border-inline : 8px solid var(--first-color);
  box-shadow: 0 12px 24px var(--shadow-color);
  text-align: center;
  transition: background-color .4s;
}
.testimonial__border{
  width: 100px;
  height: 100px;
  border: 6px solid var(--first-color);
  overflow: hidden;
  border-radius: 50%;
  margin:0 auto 1rem
}
.testimonial__name{
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}
 