<main class="main">
  <section class="testimonial section">
    <h2 class="section__title">
       What They Say <br>
       About Me?
    </h2>
    <div class="testimonial__container container">
       <div class="testimonial__swiper swiper">
          <div class="swipper-wrapper">
             <article class="testimonial__card swiper-slide ">
                <div class="testimonial__border">
                   <img src="assets/img/testimonial-1.png" alt="image" class="testimonial__image">
                </div>
                <h2 class="testimonial__name">Jen Will</h2>
                <p class="testimonial__description">
                   I hired a project and the services were of
                   quality, the work delivered is of good
                   content, excellent work.
                </p>
             </article>
             <article class="testimonial__card swiper-slide">
                <div class="testimonial__border">
                   <img src="assets/img/testimonial-2.png" alt="image" class="testimonial__image">
                </div>
                <h2 class="testimonial__name">Rial Loz</h2>
                <p class="testimonial__description">
                   I hired a project and the services were of
                   quality, the work delivered is of good
                   content, excellent work.
                </p>
             </article>
             <article class="testimonial__card swiper-slide">
                <div class="testimonial__border">
                   <img src="assets/img/testimonial-3.png" alt="image" class="testimonial__image">
                </div>
                <h2 class="testimonial__name">Mey Doth</h2>
                <p class="testimonial__description">
                   I hired a project and the services were of
                   quality, the work delivered is of good
                   content, excellent work.
                </p>
             </article>
             <article class="testimonial__card swiper-slide">
                <div class="testimonial__border">
                   <img src="assets/img/testimonial-4.png" alt="image" class="testimonial__image">
                </div>
                <h2 class="testimonial__name">Celi Phet</h2>
                <p class="testimonial__description">
                   I hired a project and the services were of
                   quality, the work delivered is of good
                   content, excellent work.
                </p>
             </article>
          </div>
       </div>
       <!-- if we need it  -->
       <div class="swiper-pagination"></div>
    </div>
 </section>
</main>
