<main class="main">
<section class="work section" id="workSection">
  <h2 class="section__title">
     My Most <br>
     Recent Works
  </h2>
  <div class="work__container container grid">
     <article class="work__card">
        <a href="https://guess-numbers.netlify.app/" target="_blank" class="work__link">
           <img src="assets/img/guess my number.png" alt="image" class="work__img">
           <i class="ri-arrow-right-circle-line work__icon"></i>
        </a>
        <h2 class="work__title">Guess My Number</h2>
        <span class="work__subtitle">Simple Games</span>
     </article>
     <article class="work__card">
        <a href="" class="work__link">
           <img src="assets/img/portfolio.png" alt="image" class="work__img">
           <i class="ri-arrow-right-circle-line work__icon"></i>
        </a>
        <h2 class="work__title">First Portfolio</h2>
        <span class="work__subtitle">Personal Website</span>
     </article>
     <article class="work__card">
        <a href="https://pig-game-v2.netlify.app/" target="_blank" class="work__link">
           <img src="assets/img/Pig game.png" alt="image" class="work__img">
           <i class="ri-arrow-right-circle-line work__icon"></i>
        </a>
        <h2 class="work__title">Pig Game</h2>
        <span class="work__subtitle">Simple Games</span>
     </article>
  </div>
</section>

</main>
