<!--==================== ABOUT ====================-->
<section class="about section" id="aboutSection">
  <h2 class="section__title">
    My Personal <br>
    Information
  </h2>
  <div class="about__container about__page container grid">
    <div class="about__perfil perfil">
      <div class="perfil__content">
        <img src="assets/img/ppv2.png" alt="image" class="perfil__img">
      </div>
    </div>

    <div class="about__content grid">
      <div class="about__data grid">
        <div class="about__info grid">
          <h1 class="about__name">Mohammed Atef</h1>
          <h2 class="about__profession">Front-End Developer</h2>
          <p class="about__description">
            Passionate about creating <b>Web Pages</b> with
            <b>UI/UX User Interface</b>
          </p>
        </div>
        <a routerLink="contact" class="about__button button">Contact Me</a>
      </div>
      <div class="about__skills">
        <h3 class="about__skills-title">My Skills Are</h3>

        <div class="about__skills-content grid">
          <img src="../../../assets/assets/img/about-html.svg" alt="image" class="about__skills-img">
          <img src="assets/img/about-css.svg" alt="image" class="about__skills-img">
          <img src="assets/img/about-javascript.svg" alt="image" class="about__skills-img">
          <img src="assets/img/angularjs-fill (4).svg" alt="image" class="about__skills-img">
          <img src="assets/img/about-git.svg" alt="image" class="about__skills-img">
          <img src="assets/img/about-github.svg" alt="image" class="about__skills-img">
          <img src="assets/img/bootstrap-fill.svg" alt="image" class="about__skills-img">
        </div>
      </div>
    </div>
  </div>
</section>
