/* .about__page {
  padding-bottom: 4rem;
}

.about__perfil {
  justify-self: center;
}

.about__content {
  row-gap: 4rem;
}

.about__data {
  row-gap: 2rem;
}

.about__info {
  row-gap: .75rem;
  text-align: center;
}

.about__name {
  font-size: var(--h1-font-size);
}

.about__profession {
  font-size: var(--h2-font-size);
}

.about__description b {
  color: var(--first-color);
}

.about__button {
  justify-self: center;
}

.about__skills-title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.about__skills-img {
  width: 50px;
  transition: transform .4s;
}

.about__skills-img:hover {
  transform: translateY(-.5rem);
}

.about__skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__skills-img {
  width: 2.5rem;
  height: auto;
  max-width: 100%;
}


@media screen and (min-width:1150px) {
  .about__container {
    grid-template-columns: 500px 440px;
    align-items: center;
    column-gap: 8rem;
    padding-top: 2rem;
  }

  .about__data {
    row-gap: 3.5rem;

  }

  .about__info {
    text-align: initial;
  }

  .about__button {
    justify-self: flex-start;
  }

  .about__skills-content {
    grid-template-columns: repeat(7, max-content);
  }

  .about__skills-img {
    width: 40px;
  }

}

 */



/* break */


.about__page {
  padding-bottom: 4rem;
}

.about__perfil {
  justify-self: center;
}

.about__content {
  row-gap: 4rem;
}

.about__data {
  row-gap: 2rem;
}

.about__info {
  row-gap: .75rem;
  text-align: center;
}

.about__name {
  font-size: var(--h1-font-size);
}

.about__profession {
  font-size: var(--h2-font-size);
}

.about__description b {
  color: var(--first-color);
}

.about__button {
  justify-self: center;
}

.about__skills-title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.about__skills-img {
  width: 50px;
  transition: transform .4s;
}

.about__skills-img:hover {
  transform: translateY(-.5rem);
}

.about__skills-content {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 2rem 1rem;
}

@media screen and (max-width:320px) {
  .container {
    margin-inline: 1rem;
  }

  .about__skills-content {
    grid-template-columns: repeat(4, max-content);
  }

  .about__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}

@media screen and (min-width:1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .section__title {
    margin-bottom: 3.5rem;
  }

  .perfil {
    width: 500px;
    height: 500px;
    border-width: 15px;
  }

  .perfil__content {
    width: 360px;
    height: 360px;
    border-width: 20px;
  }

  .perfil__img {
    width: 300px;
  }

  .about__container {
    grid-template-columns: 500px 440px;
    align-items: center;
    column-gap: 8rem;
    padding-top: 2rem;
  }

  .about__data {
    row-gap: 3.5rem;

  }

  .about__info {
    text-align: initial;
  }

  .about__button {
    justify-self: flex-start;
  }

  .about__skills-content {
    grid-template-columns: repeat(7, max-content);
  }

  .about__skills-img {
    width: 40px;
  }
}